<h1>Veggie Burger Bash</h1>
<div class="burger-container">
    <div class="burgers">
        <ul>
            {{#each burgers}}
            {{#unless this.devoured}}
            <div class="burger-div" data-id={{this.id}} data-devoured={{this.devoured}}>
                <li>{{this.burger_name}}</li>
                <button class="devour-button" data-id={{this.id}}>Devour it</button>
            </div>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div className="burgers-devoured">
        You've already eaten:
        <ul>
            {{#each burgers}}
            {{#if this.devoured}}
            <div class="burger-div">
                <li data-devoured={{this.devoured}}>{{this.burger_name}}</li>
            </div>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

<p>{{burgers.length}} remaining</p>

<input type="text" id="burger-text" bind:value={textValue} />
<button id="add-burger">Add New</button>

<button id="clear">Clear Completed</button>